{block content}
	<h1 n:block="title">Můj úžasný blog</h1>


	<div n:foreach="$posts as $post" class="post">
	    <div class="date">{$post->created_at|date:'F j, Y'}</div>

	    <h2><a n:href="Post:show $post->id">{$post->title}</a></h2>

	    <div>{$post->content|truncate:200}</div>

	    <div>Počet komentářů: {$post->count_of_comments} </div>
	</div>
{/block}